@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url(../_imagens/radio-tv.png) no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 568px;
	top: 493px;
	width: 310px;
	height: 44px;
}

iframe#filme {
	display: block;
	position: relative;
	left: 80px;
	top: 35px;
	width: 460px;
}

/* PARA CASO PRECISE RECODIFICAR O VIDEO DA MULTIMIDIA COM SOURCE DIRETO DA PASTA AO INVES DO YOUTUBE
video#filme {
	display: block;
	position: relative;
	left: 87px;
	top: 70px;
	width: 440px;
}*/

/* PARA CASO PRECISE RECODIFICAR O VIDEO DA MULTIMIDIA COM SOURCE DIRETO DA PASTA AO INVES DO YOUTUBE
<video id="filme" controls="controls" poster="_imagens/video-mini03.jpg">
		<source src="_media/getting-started.mp4" type="video/mp4"/>
		<source src="_media/getting-started.webm" type="video/webm"/>
		<source src="_media/getting-started.ogv" type="video/ogg"/>
		Desculpe, mas não foi possível carregar o vídeo.	
	</video>
	*/